<button type="button" class="btn btn-outline-primary btn-lg flex-btn-mes" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Create Message
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Create Message</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form autocomplete="off" action="" class="flex-item">
            <div class="row modal-input">
              <div class="form-group w-75">
                <label for="input-recipient">Recipient</label>
                <input required="required" type="text" class="form-control" id="input-recipient" placeholder="Recipient">
              </div>
            </div>
            <div class="row modal-input">
              <div class="form-group w-75">
                <label for="input-header">Header</label>
                <input required="required" type="text" class="form-control" id="input-header" placeholder="Header">
              </div>
            </div>
            <div class="row modal-input">
              <div class="form-group w-75">
                <label for="textarea-body">Body</label>
                <textarea required="required" class="form-control" id="textarea-body" placeholder="Body"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>